.productsAndInfoTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 25px;
}

.containerWithProducts {
    width: 45%;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    margin-right: 25px;
    background-color: white;
}

.infoTable {
    width: 20%;
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    border-radius: 6px;
    background-color: white;
}

.textCart {
    margin-left: 240px;
    margin-top: 25px;
    font-family: ProductSans-Medium, sans-serif;
    font-size: 12px;
    color: rgb(59 130 246);
}
