.header{
    /* border-bottom: 1px solid black; */
    width: 100%;
    background-color: white;
    height: 92px;
    padding: 0 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.katalogButton{
    color: #1075B2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid #1075B2;
    border-radius: 5px;

    /* background-color: blue; */
    font-size: 10px;
    line-height: 16.98px;
    text-align: center;
}

.cartSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64px;
    /* height: 35px; */
}

.favourite{
    margin-bottom: 5px;
}

.cart{
    margin-bottom: 5px;

}

.searchBar{
   display: flex;
   /* justify-content: center; */
   align-items: center;

}

.searchButton{
    width: 40px;
    height: 30px;
    background-color: #1075B2;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.typeArea{
    width: 500px;
    height: 30px;
    /* background-color: aqua; */
    border: 1px solid #1075B2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cityDiv{
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    /* background-color: blueviolet; */
}

.searchArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.cityButton{
    border-bottom: 2px solid black;
}

.imageSide{

}

