.header {
    top: 0;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 30;
    -webkit-box-shadow: -2px 6px 10px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 10px -11px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 10px -11px rgba(0,0,0,0.75);
}
@media only screen and (max-width: 400px) {
    .mobile-image {
        max-width: 200px; 
        max-height: 200px; 
    }
}

.catalogContainer {
    overflow: hidden;
    color: black;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 0.75rem/* 12px */;
    border-bottom-left-radius: 0.75rem/* 12px */;
    background-color: white;
    line-height: 1.5rem/* 24px */;
    column-gap: 1.5rem;
    padding: 0.75rem/* 12px */;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}

.searchBar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* width: 400px; */

}

.searchButton {
    width: 40px;
    height: 30px;
    background-color: #1075B2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.typeArea {
    width: 400px;
    height: 30px;
    /* background-color: aqua; */
    border: 1px solid #1075B2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toTheLeft {
    margin-left: -35px;
}



.userNavbar {
    width: 22%;
    margin-right: 20px;
    background: white;
    height: 240px;
    padding: 40px;
    display: flex;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: sticky;
    top:  0px;
    display: none;
}

@media (min-width: 640px) {
    .userNavbar {
        display: contents;
        width: 22%;
        margin-right: 20px;
        background: white;
        height: 240px;
        padding: 40px;
        display: flex;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        position: sticky;
        
    }
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.modalList{
    display: flex;
    flex-direction: column;
}

