.productCard {
    width: 200px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0;
    border-radius: 5px;
    transition: 300ms;
    position: relative;
    z-index: 0;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.container {
    -ms-overflow-style: none;
    width: 100%;
    display: flex;
    overflow: auto;

}

.container::-webkit-scrollbar {
    height: 6px;
}


.productCard:hover {
    height: 320px;
    justify-content: space-between;
    transition: 300ms;
    margin-bottom: -20px;
    z-index: 10;
    position: page;
 }

.productCard:hover .piecesAndToBucket{
    visibility: visible;
}



.nameAndPrice {
    padding-left: 10px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    transition: 300ms;
}

.imageCard {
    width: 180px;
    height: 150px;
    margin-top: 10px;
    background-color: #F6F6F6;
    border-radius: 3px;
    transition: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piecesAndToBucket {
    width: 180px;
    justify-content: space-between;
    margin-bottom: 10px;
    visibility: hidden;
    display: flex;
}

.toBucket {
    font-family: "ProductSans-Light", sans-serif;
    font-size: 11px;
    color: rgb(59, 130, 246);
    border: 1px solid rgb(59, 130, 246);
    border-radius: 3px;
    height: 24px;
    width: 96px;
}

.toBucket:hover {
    transition: 300ms;
    background-color: rgb(59, 130, 246);
    color: white;
}

.quantity {
    display: flex;
}
