.productCard {
    padding: 0px 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px 0;
    border-radius: 5px;
    transition: 300ms;
    position: relative;
    z-index: 0;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (max-width: 485px) {
    .productCard {
        width: 90%;
        height: auto;
    }
}

.container {
    -ms-overflow-style: none;
    width: 100%;
    display: flex;
    overflow: auto;
}

.container::-webkit-scrollbar {
    height: 6px;
}


.productCard:hover {
    height: 340px;
    justify-content: space-between;
    transition: 300ms;
    margin-bottom: -20px;
    z-index: 10;
    position: page;
 }

.productCard:hover .piecesAndToBucket{
    visibility: visible;
}

.piecesAndToBucket {
    width: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
}


